In [11]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Google API Key
g_key = "AIzaSyAuTVj2_tLr-hUPjH1Q1Yb5aYf8C4wneFI"

gmaps.configure(g_key)

In [12]:
df = pd.read_csv("weather.csv")

In [13]:
df.head()

,Unnamed: 0,city,lon,lat,wind_speed,max_temp,humidity,date,country,cloud
0,0,Manga,-1.07,11.66,0.85,82.81,25,1584494069,BF,40
1,1,Ambilobe,49.05,-13.20,2.77,74.75,91,1584494070,MG,47
2,2,Busselton,115.33,-33.65,1.01,59.00,97,1584493781,AU,20
3,3,Sakakah,40.21,29.97,17.22,59.00,54,1584494070,SA,0
4,4,Gold Coast,153.43,-28.00,16.11,80.01,50,1584493930,AU,4

In [29]:
locations = df[["lat", "lon"]].astype(float)
humidity = df['humidity'].astype(float)

# Create a poverty Heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 3)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
df_temp = df[(df.max_temp > 66)]
df_temp

df_temp2 = df_temp[(df_temp.max_temp < 70)]
df_temp2

df_wind = df_temp2[(df_temp2.wind_speed < 5)]
df_wind

df_cloud = df_wind[(df_wind.cloud == 0)]
df_cloud

,Unnamed: 0,city,lon,lat,wind_speed,max_temp,humidity,date,country,cloud
37,37,Dumka,87.25,24.27,3.67,69.26,41,1584494080,IN,0
121,121,Dharmapuri,78.17,12.13,3.38,69.80,78,1584494103,IN,0
252,252,Majholi,79.92,23.50,4.38,66.34,36,1584494135,IN,0

In [41]:
locations = df_cloud[["lat", "lon"]].astype(float)
humidity = df_cloud['humidity'].astype(float)

# Create a poverty Heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 3)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
Using Google Places API to find the first hotel for each city located within 5000 meters of your coordinates.